@font-face { font-family: '8bithud'; src: url('/pixelsix14.ttf') format('truetype'); }


body {
    margin: 0;
    font-family: '8bithud', Fallback, sans-serif;
}
a {
    text-decoration: none;
    color: #202e37;
}
a:hover{
    color: #577277;
}
li {
    list-style-type: none;
}
hr {
    color: #884b2b;
    
}

div.header div.profile img {
    width: 100%;
    max-width: 180px;
}
div.content {
width: 100%;
max-width: 550px;
margin: auto;
box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
div.header {
box-sizing: border-box;
    padding: 50px 30px 0px 30px;
    background: #819796;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    column-gap: 10px;
    row-gap: 5px;
    border-radius: 0px 0px 15px 15px;
}

div.header div.about p,h1 {
    width: 100%;
    max-width: 250px;
    color: #ebede9;
}

div.section {
    padding: 10px 30px 10px 30px;
}
div.section h2 {
    color: #884b2b;
}
div.footer {
margin-top: 30px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    background: #819796;
    border-radius: 15px 15px 0px 0px;
    color: #ebede9;
}
